In [3]:
import pandas as pd

#load data from dataset
idf = pd.read_csv(r"D:\Jeeva\ds_course\insurance_final_project\data\raw_data\insurance_claims.csv") 
idf.head()
idf.columns

Index(['claim_id', 'customer_id', 'incident_cause', 'claim_date', 'claim_area',
       'police_report', 'claim_type', 'claim_amount', 'total_policy_claims',
       'fraudulent'],
      dtype='object')

In [65]:
#check for null values
idf.isnull().sum()

claim_id                0
customer_id             0
incident_cause          0
claim_date              0
claim_area              0
police_report           0
claim_type              0
claim_amount           65
total_policy_claims    10
fraudulent              0
dtype: int64

In [67]:
#replace null values
idf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   claim_id             1100 non-null   int64
 1   customer_id          1100 non-null   int64
 2   incident_cause       1100 non-null   object
 3   claim_date           1100 non-null   object
 4   claim_area           1100 non-null   object
 5   police_report        1100 non-null   object
 6   claim_type           1100 non-null   object
 7   claim_amount         1035 non-null   object
 8   total_policy_claims  1090 non-null   float64
 9   fraudulent           1100 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 86.1+ KB

In [69]:
#dropping rows where claim amount is  nan since we are using claim amount to be trained
idf_clean = idf.dropna(subset="claim_amount")
idf_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1035 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   claim_id             1035 non-null   int64
 1   customer_id          1035 non-null   int64
 2   incident_cause       1035 non-null   object
 3   claim_date           1035 non-null   object
 4   claim_area           1035 non-null   object
 5   police_report        1035 non-null   object
 6   claim_type           1035 non-null   object
 7   claim_amount         1035 non-null   object
 8   total_policy_claims  1026 non-null   float64
 9   fraudulent           1035 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 88.9+ KB

In [71]:
idf_clean = idf_clean.copy()
# Before imputation, store the rows where total_policy_claims is NaN
nan_rows = idf_clean['total_policy_claims'].isna()

# Apply the imputation line
idf_clean['total_policy_claims'] = idf_clean.groupby(['claim_type', 'incident_cause'])['total_policy_claims'].transform(lambda x: x.fillna(x.median()))

# Now, show only the rows where originally total_policy_claims was NaN, with their new filled values
filled_values = idf_clean.loc[nan_rows, ['claim_type', 'incident_cause', 'total_policy_claims']]

print(filled_values)

               claim_type      incident_cause  total_policy_claims
29            Injury only      Natural causes                  1.0
281         Material only  Other driver error                  1.0
365         Material only        Other causes                  1.0
450           Injury only  Other driver error                  1.0
458   Material and injury  Other driver error                  1.0
468         Material only        Driver error                  1.0
489           Injury only  Other driver error                  1.0
732         Material only        Other causes                  1.0
1042        Material only  Other driver error                  1.0

In [61]:
idf_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1035 entries, 0 to 1099
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   claim_id             1035 non-null   int64
 1   customer_id          1035 non-null   int64
 2   incident_cause       1035 non-null   object
 3   claim_date           1035 non-null   object
 4   claim_area           1035 non-null   object
 5   police_report        1035 non-null   object
 6   claim_type           1035 non-null   object
 7   claim_amount         1035 non-null   object
 8   total_policy_claims  1035 non-null   float64
 9   fraudulent           1035 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 88.9+ KB

In [73]:
df_clean = idf_clean
df_clean = df_clean.drop(columns=['claim_id','customer_id'])

In [75]:
df_clean.head()

,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent
0,Driver error,11/27/2017,Auto,No,Material only,$2980,1.0,No
1,Crime,10-03-2018,Home,Unknown,Material only,$2980,3.0,No
2,Other driver error,02-02-2018,Auto,No,Material only,$3369.5,1.0,Yes
3,Natural causes,06/17/2018,Auto,No,Material only,$1680,1.0,No
4,Crime,01/13/2018,Auto,No,Material only,$2680,1.0,No

In [77]:
df_clean['incident_cause'].unique()

array(['Driver error', 'Crime', 'Other driver error', 'Natural causes',
       'Other causes'], dtype=object)

In [79]:
df_clean['incident_cause'].value_counts()

incident_cause
Other causes          270
Driver error          246
Other driver error    235
Natural causes        179
Crime                 105
Name: count, dtype: int64

In [81]:
df_clean['claim_date'].unique()

array(['11/27/2017', '10-03-2018', '02-02-2018', '06/17/2018',
       '01/13/2018', '10-04-2017', '04-10-2018', '02/15/2018',
       '07/22/2017', '12-10-2017', '04/24/2018', '09/19/2018',
       '06-03-2018', '06/25/2017', '12/17/2017', '08/24/2017',
       '05/29/2017', '09/14/2017', '04/25/2017', '12/24/2017',
       '08-10-2018', '10/17/2017', '02-09-2018', '06/23/2018',
       '03-01-2018', '10-10-2017', '05/21/2018', '07-01-2017',
       '10/31/2017', '05/14/2018', '02/17/2017', '10-09-2018',
       '04-12-2017', '07/27/2018', '02/23/2017', '08/31/2017',
       '06/18/2017', '02/22/2018', '11/20/2017', '01/14/2017',
       '02-10-2017', '04-04-2018', '08/16/2018', '03/29/2017',
       '07/20/2018', '05/22/2017', '06-11-2017', '01/27/2017',
       '07-08-2017', '08-03-2018', '06/30/2018', '11-06-2017',
       '05/28/2018', '11/13/2017', '03-09-2017', '10/16/2018',
       '12-03-2017', '03/21/2018', '01-01-2017', '03-02-2017',
       '05-01-2018', '03/14/2018', '03-08-2018', '07/28/2017',
       '10/23/2018', '09-12-2018', '03/16/2017', '09-07-2017',
       '12/30/2017', '04/18/2017', '06-04-2017', '06-10-2018',
       '01/26/2018', '01-06-2018', '05-07-2018', '07/15/2017',
       '08/30/2018', '08-11-2017', '10/24/2017', '08/18/2017',
       '02-03-2017', '09/20/2017', '01-07-2017', '01/21/2017',
       '07-07-2018', '03/28/2018', '09/26/2018', '10/30/2018',
       '05-09-2017', '09/27/2017', '07/14/2018', '04/17/2018',
       '03/22/2017', '04-05-2017', '08-04-2017', '01/20/2018',
       '08/23/2018', '05/15/2017', '09-06-2018', '05-02-2017'],
      dtype=object)

In [83]:
df_clean['claim_area'].value_counts()

claim_area
Auto    927
Home    108
Name: count, dtype: int64

In [85]:
df_clean['police_report'].value_counts()

police_report
No         587
Unknown    284
Yes        164
Name: count, dtype: int64

In [87]:
df_clean['claim_amount'].value_counts()

claim_amount
$2090       7
$2070       7
$1630       7
$1860       7
$2320       7
           ..
$40210      1
$27002      1
$33030      1
$31498.5    1
$36685      1
Name: count, Length: 683, dtype: int64

In [89]:
df_clean['total_policy_claims'].value_counts()

total_policy_claims
1.0    753
2.0    103
3.0     83
4.0     59
5.0     25
6.0      9
7.0      2
8.0      1
Name: count, dtype: int64

In [91]:
#clean date input and then convert it to day time format
df_clean['claim_date'] = df_clean['claim_date'].str.replace('-', '/', regex=False)
df_clean['claim_date'] = pd.to_datetime(df_clean['claim_date'],errors="coerce",dayfirst=False)

In [93]:
df_clean['claim_date'].unique()

<DatetimeArray>
['2017-11-27 00:00:00', '2018-10-03 00:00:00', '2018-02-02 00:00:00',
 '2018-06-17 00:00:00', '2018-01-13 00:00:00', '2017-10-04 00:00:00',
 '2018-04-10 00:00:00', '2018-02-15 00:00:00', '2017-07-22 00:00:00',
 '2017-12-10 00:00:00', '2018-04-24 00:00:00', '2018-09-19 00:00:00',
 '2018-06-03 00:00:00', '2017-06-25 00:00:00', '2017-12-17 00:00:00',
 '2017-08-24 00:00:00', '2017-05-29 00:00:00', '2017-09-14 00:00:00',
 '2017-04-25 00:00:00', '2017-12-24 00:00:00', '2018-08-10 00:00:00',
 '2017-10-17 00:00:00', '2018-02-09 00:00:00', '2018-06-23 00:00:00',
 '2018-03-01 00:00:00', '2017-10-10 00:00:00', '2018-05-21 00:00:00',
 '2017-07-01 00:00:00', '2017-10-31 00:00:00', '2018-05-14 00:00:00',
 '2017-02-17 00:00:00', '2018-10-09 00:00:00', '2017-04-12 00:00:00',
 '2018-07-27 00:00:00', '2017-02-23 00:00:00', '2017-08-31 00:00:00',
 '2017-06-18 00:00:00', '2018-02-22 00:00:00', '2017-11-20 00:00:00',
 '2017-01-14 00:00:00', '2017-02-10 00:00:00', '2018-04-04 00:00:00',
 '2018-08-16 00:00:00', '2017-03-29 00:00:00', '2018-07-20 00:00:00',
 '2017-05-22 00:00:00', '2017-06-11 00:00:00', '2017-01-27 00:00:00',
 '2017-07-08 00:00:00', '2018-08-03 00:00:00', '2018-06-30 00:00:00',
 '2017-11-06 00:00:00', '2018-05-28 00:00:00', '2017-11-13 00:00:00',
 '2017-03-09 00:00:00', '2018-10-16 00:00:00', '2017-12-03 00:00:00',
 '2018-03-21 00:00:00', '2017-01-01 00:00:00', '2017-03-02 00:00:00',
 '2018-05-01 00:00:00', '2018-03-14 00:00:00', '2018-03-08 00:00:00',
 '2017-07-28 00:00:00', '2018-10-23 00:00:00', '2018-09-12 00:00:00',
 '2017-03-16 00:00:00', '2017-09-07 00:00:00', '2017-12-30 00:00:00',
 '2017-04-18 00:00:00', '2017-06-04 00:00:00', '2018-06-10 00:00:00',
 '2018-01-26 00:00:00', '2018-01-06 00:00:00', '2018-05-07 00:00:00',
 '2017-07-15 00:00:00', '2018-08-30 00:00:00', '2017-08-11 00:00:00',
 '2017-10-24 00:00:00', '2017-08-18 00:00:00', '2017-02-03 00:00:00',
 '2017-09-20 00:00:00', '2017-01-07 00:00:00', '2017-01-21 00:00:00',
 '2018-07-07 00:00:00', '2018-03-28 00:00:00', '2018-09-26 00:00:00',
 '2018-10-30 00:00:00', '2017-05-09 00:00:00', '2017-09-27 00:00:00',
 '2018-07-14 00:00:00', '2018-04-17 00:00:00', '2017-03-22 00:00:00',
 '2017-04-05 00:00:00', '2017-08-04 00:00:00', '2018-01-20 00:00:00',
 '2018-08-23 00:00:00', '2017-05-15 00:00:00', '2018-09-06 00:00:00',
 '2017-05-02 00:00:00']
Length: 100, dtype: datetime64[ns]

In [95]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1035 entries, 0 to 1099
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   incident_cause       1035 non-null   object
 1   claim_date           1035 non-null   datetime64[ns]
 2   claim_area           1035 non-null   object
 3   police_report        1035 non-null   object
 4   claim_type           1035 non-null   object
 5   claim_amount         1035 non-null   object
 6   total_policy_claims  1035 non-null   float64
 7   fraudulent           1035 non-null   object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 72.8+ KB

In [97]:
 # Convert claim_amount from string to float
df_clean['claim_amount'].head()
df_clean['claim_amount'] = df_clean['claim_amount'].str.replace('$','').astype('float')

In [99]:
df_clean['police_report'].value_counts()

police_report
No         587
Unknown    284
Yes        164
Name: count, dtype: int64

In [101]:
df_clean['police_report'].value_counts(normalize=True)

police_report
No         0.567150
Unknown    0.274396
Yes        0.158454
Name: proportion, dtype: float64

In [103]:
df_clean.groupby('police_report')['claim_amount'].mean()
df_clean.groupby('police_report')['fraudulent'].value_counts(normalize=True)

police_report  fraudulent
No             No            0.759796
               Yes           0.240204
Unknown        No            0.721831
               Yes           0.278169
Yes            No            0.896341
               Yes           0.103659
Name: proportion, dtype: float64

In [105]:
#clean police report
df_clean['police_report'] = df_clean['police_report'].map({'Yes': 1, 'No': 0, 'Unknown': 0})

In [107]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1035 entries, 0 to 1099
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   incident_cause       1035 non-null   object
 1   claim_date           1035 non-null   datetime64[ns]
 2   claim_area           1035 non-null   object
 3   police_report        1035 non-null   int64
 4   claim_type           1035 non-null   object
 5   claim_amount         1035 non-null   float64
 6   total_policy_claims  1035 non-null   float64
 7   fraudulent           1035 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 72.8+ KB

In [109]:
#export cleaned data
df_clean.to_csv(r"D:\Jeeva\ds_course\insurance_final_project\data\cleaned_data\insurance_claims_cleaned.csv",index=False)

In [113]:
import pandas as pd
df_clean = pd.read_csv(r"D:\Jeeva\ds_course\insurance_final_project\data\cleaned_data\insurance_claims_cleaned.csv")
df_clean.head()

,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent
0,Driver error,2017-11-27,Auto,0,Material only,2980.0,1.0,No
1,Crime,2018-10-03,Home,0,Material only,2980.0,3.0,No
2,Other driver error,2018-02-02,Auto,0,Material only,3369.5,1.0,Yes
3,Natural causes,2018-06-17,Auto,0,Material only,1680.0,1.0,No
4,Crime,2018-01-13,Auto,0,Material only,2680.0,1.0,No

In [115]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   incident_cause       1035 non-null   object
 1   claim_date           1035 non-null   object
 2   claim_area           1035 non-null   object
 3   police_report        1035 non-null   int64
 4   claim_type           1035 non-null   object
 5   claim_amount         1035 non-null   float64
 6   total_policy_claims  1035 non-null   float64
 7   fraudulent           1035 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 64.8+ KB

In [117]:
df_clean['incident_cause'].value_counts()

incident_cause
Other causes          270
Driver error          246
Other driver error    235
Natural causes        179
Crime                 105
Name: count, dtype: int64

In [119]:
df_clean['fraudulent'].value_counts()

fraudulent
No     798
Yes    237
Name: count, dtype: int64

In [121]:
df_clean['claim_area'].value_counts()

claim_area
Auto    927
Home    108
Name: count, dtype: int64

In [123]:
df_clean['claim_type'].value_counts()

claim_type
Material only          620
Material and injury    230
Injury only            185
Name: count, dtype: int64

In [125]:
# Encode the target column
df_clean['fraudulent'] = df_clean['fraudulent'].map({'Yes': 1, 'No': 0})

# One-Hot Encode categorical features (drop_first=True avoids multicollinearity)
df_clean = pd.get_dummies(df_clean, columns=['incident_cause', 'claim_area', 'claim_type'], drop_first=True)

In [127]:
print(df_clean.dtypes)  # confirm all are numeric
print(df_clean.head())  # visually confirm encoded columns

claim_date                            object
police_report                          int64
claim_amount                         float64
total_policy_claims                  float64
fraudulent                             int64
incident_cause_Driver error             bool
incident_cause_Natural causes           bool
incident_cause_Other causes             bool
incident_cause_Other driver error       bool
claim_area_Home                         bool
claim_type_Material and injury          bool
claim_type_Material only                bool
dtype: object
   claim_date  police_report  claim_amount  total_policy_claims  fraudulent  \
0  2017-11-27              0        2980.0                  1.0           0
1  2018-10-03              0        2980.0                  3.0           0
2  2018-02-02              0        3369.5                  1.0           1
3  2018-06-17              0        1680.0                  1.0           0
4  2018-01-13              0        2680.0                  1.0           0

   incident_cause_Driver error  incident_cause_Natural causes  \
0                         True                          False
1                        False                          False
2                        False                          False
3                        False                           True
4                        False                          False

   incident_cause_Other causes  incident_cause_Other driver error  \
0                        False                              False
1                        False                              False
2                        False                               True
3                        False                              False
4                        False                              False

   claim_area_Home  claim_type_Material and injury  claim_type_Material only
0            False                           False                      True
1             True                           False                      True
2            False                           False                      True
3            False                           False                      True
4            False                           False                      True

In [129]:
# Clean column names: lowercase, replace spaces with underscores
df_clean.columns = df_clean.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('[^a-zA-Z0-9_]', '', regex=True)

In [131]:
print(df_clean.dtypes)  # confirm all are numeric
print(df_clean.head())  # visually confirm encoded columns

claim_date                            object
police_report                          int64
claim_amount                         float64
total_policy_claims                  float64
fraudulent                             int64
incident_cause_driver_error             bool
incident_cause_natural_causes           bool
incident_cause_other_causes             bool
incident_cause_other_driver_error       bool
claim_area_home                         bool
claim_type_material_and_injury          bool
claim_type_material_only                bool
dtype: object
   claim_date  police_report  claim_amount  total_policy_claims  fraudulent  \
0  2017-11-27              0        2980.0                  1.0           0
1  2018-10-03              0        2980.0                  3.0           0
2  2018-02-02              0        3369.5                  1.0           1
3  2018-06-17              0        1680.0                  1.0           0
4  2018-01-13              0        2680.0                  1.0           0

   incident_cause_driver_error  incident_cause_natural_causes  \
0                         True                          False
1                        False                          False
2                        False                          False
3                        False                           True
4                        False                          False

   incident_cause_other_causes  incident_cause_other_driver_error  \
0                        False                              False
1                        False                              False
2                        False                               True
3                        False                              False
4                        False                              False

   claim_area_home  claim_type_material_and_injury  claim_type_material_only
0            False                           False                      True
1             True                           False                      True
2            False                           False                      True
3            False                           False                      True
4            False                           False                      True

In [133]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   claim_date                         1035 non-null   object
 1   police_report                      1035 non-null   int64
 2   claim_amount                       1035 non-null   float64
 3   total_policy_claims                1035 non-null   float64
 4   fraudulent                         1035 non-null   int64
 5   incident_cause_driver_error        1035 non-null   bool
 6   incident_cause_natural_causes      1035 non-null   bool
 7   incident_cause_other_causes        1035 non-null   bool
 8   incident_cause_other_driver_error  1035 non-null   bool
 9   claim_area_home                    1035 non-null   bool
 10  claim_type_material_and_injury     1035 non-null   bool
 11  claim_type_material_only           1035 non-null   bool
dtypes: bool(7), float64(2), int64(2), object(1)
memory usage: 47.6+ KB

In [135]:
# convert to datetime
df_clean['claim_date'] = pd.to_datetime(df_clean['claim_date'], errors='coerce')

In [137]:
#checking null in claim-date after conversion
df_clean['claim_date'].isnull().sum()

0

In [139]:
# Extract date features
df_clean['claim_year'] = df_clean['claim_date'].dt.year
df_clean['claim_month'] = df_clean['claim_date'].dt.month
df_clean['claim_day'] = df_clean['claim_date'].dt.day

In [141]:
#drop claim date
df_clean.drop(columns=['claim_date'], inplace=True)

In [153]:
# export cleaned DataFrame
df_clean.to_csv(r"D:\Jeeva\ds_course\insurance_final_project\data\cleaned_data\cleaned_insurance_data.csv", index=False)

In [155]:
import pandas as pd
df_clean = pd.read_csv(r"D:\Jeeva\ds_course\insurance_final_project\data\cleaned_data\cleaned_insurance_data.csv")
df_clean.head()

,police_report,claim_amount,total_policy_claims,fraudulent,incident_cause_driver_error,incident_cause_natural_causes,incident_cause_other_causes,incident_cause_other_driver_error,claim_area_home,claim_type_material_and_injury,claim_type_material_only,claim_year,claim_month,claim_day,high_risk
0,0,2980.0,1.0,0,True,False,False,False,False,False,True,2017,11,27,0
1,0,2980.0,3.0,0,False,False,False,False,True,False,True,2018,10,3,0
2,0,3369.5,1.0,1,False,False,False,True,False,False,True,2018,2,2,1
3,0,1680.0,1.0,0,False,True,False,False,False,False,True,2018,6,17,0
4,0,2680.0,1.0,0,False,False,False,False,False,False,True,2018,1,13,0

In [147]:
import numpy as np

policy_claim_threshold = 3
claim_amount_threshold = df_clean['claim_amount'].quantile(0.75)
print(f"policy_claim_threshold: ${policy_claim_threshold}")
print(f"claim_amount_threshold: ${claim_amount_threshold}")

df_clean['high_risk'] = np.where(
    (df_clean['total_policy_claims']>policy_claim_threshold) |
    (df_clean['claim_amount']> claim_amount_threshold) |
    (df_clean['fraudulent'] == 1),
    1,
    0
)

policy_claim_threshold: $3
claim_amount_threshold: $24300.0

In [157]:
df_clean.head()

,police_report,claim_amount,total_policy_claims,fraudulent,incident_cause_driver_error,incident_cause_natural_causes,incident_cause_other_causes,incident_cause_other_driver_error,claim_area_home,claim_type_material_and_injury,claim_type_material_only,claim_year,claim_month,claim_day,high_risk
0,0,2980.0,1.0,0,True,False,False,False,False,False,True,2017,11,27,0
1,0,2980.0,3.0,0,False,False,False,False,True,False,True,2018,10,3,0
2,0,3369.5,1.0,1,False,False,False,True,False,False,True,2018,2,2,1
3,0,1680.0,1.0,0,False,True,False,False,False,False,True,2018,6,17,0
4,0,2680.0,1.0,0,False,False,False,False,False,False,True,2018,1,13,0